/* Estética Tech Minimalista */
body { 
    font-family: "Courier New", Courier, monospace; 
    background-color: #fdfdfd; 
    color: #1a1a1a; 
    padding: 8vw; 
    margin: 0; 
    line-height: 1.5;
}

main { 
    max-width: 600px; 
}

h1 { 
    font-size: 1.1rem; 
    font-weight: normal; 
    margin-bottom: 2.5rem; 
    letter-spacing: -0.5px;
}

.metadata { 
    color: #999; 
    font-size: 0.8rem; 
    margin-bottom: 4rem; 
    line-height: 1.4; 
}

nav a { 
    display: block; 
    color: #1a1a1a; 
    text-decoration: none; 
    margin-bottom: 0.8rem; 
    width: fit-content;
    font-size: 0.9rem;
}

nav a:hover { 
    background-color: #1a1a1a; 
    color: #fdfdfd; 
    padding: 0 4px;
}

.header-image {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto;    /* Mantém a proporção da imagem */
    display: block;  /* Remove espaços indesejados abaixo da imagem */
    margin: 2.5rem 0 4rem 0; /* Espaçamento: top, right, bottom, left */
    border: 1px solid #ddd; /* Borda sutil para dar um ar de "item de arquivo" */
}
